@import url('https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:wght@400;500;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --color-parchment: #e6e2d8;
  --color-ink: #000000;

  --font-anton: 'Anton', sans-serif;
  --font-tinos: 'Tinos', serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--color-parchment);
  color: var(--color-ink);
  font-family: var(--font-tinos);
}
